<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
    .box {
        width: 40%;
        min-height: 100px;
        display: flex;
    }

    .box_left {
        width: 30%;
    }
</style>

<body>
    <div id="app">

        <div @mouseenter="show" >
            移入显示
        </div>
        
        <div class="box" v-show="state" >
            <div class="box_left">
                <div v-for="a in list" @mouseenter="aaa(a.data)" >
                    <div>{{a.name}}</div>
                    <span v-for="b in a.data">
                        {{b}}
                </div>
            </div>

            <div class="box_right">
                <span v-for="a in item">
                    {{a}}
            </div>
        </div>
    </div>
    </div>

    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                state: false,
                showState: false,
                list: [
                    {
                        name: "瓜类",
                        data: ["西瓜", "蜜瓜", "香瓜"]
                    },
                    {
                        name: "核果类",
                        data: ["桃子", "李子", "香瓜"]
                    },

                ],
                item: []
            }
        },
        methods: {
            aaa(e) {
                this.item = e
            },
            show() {
                this.state=true
            }
      
        }
    })
</script>

</html>